/* === Index.css for the index page ===*/

body {
    background: none repeat scroll 0 0 #d9a9c8;
}
/* == header ==*/
header {
    background: none repeat scroll 0 0 #ff9000;
    float: left;
    margin-bottom: 20px;
    min-height: 100px;
    width: 100%;
}
header .header-site-logo {
	float:left;
	background:#000;
	color:#fff;
	width:320px;
	height:100px;
	margin-right:20px;
}
header .header-site-h1-h2 {
	float:left;
	}
header h1 {
	float:left;
}
header h2 {
	float:left;
	clear:both;
}

/* == navigation ==*/
nav{
	background: none repeat scroll 0 0 #0090dd;
    float: left;
	margin-bottom: 20px;
    width: 100%;	
}
nav ul {
	margin:0px;
}
nav li {
    display: inline;
    float: left;
	margin-left:20px;
	padding:10px;
}

/* == sidebar ==*/
.sidebar {
    background: none repeat scroll 0 0 #fff;
    float: left;
    min-height: 320px;
    min-width: 25%;
}

/* == main content ==*/
.main-content {
    background: none repeat scroll 0 0 #fff;
    float: right;
    margin-left: 20px;
    min-height: 320px;
    width: 70%;
}

/* == footer ==*/
footer{
	background: none repeat scroll 0 0 #0090dd;
    float: left;
	margin-top: 20px;
    width: 100%;
}

/* == media query's ==*/

@media screen and (max-width: 600px) {

.sidebar {
	min-width: 100%;
}
.main-content {
   	min-width: 100%;
}

}